$headColor: #323f4f;
$backColor: #57ba9d;
$navColor: white;
$hovColor: yellow;
$footColor: blue;
$htmlColor: rgb(199, 199, 199);

$allFont: Helvetica;

body {
  background: $htmlColor;
}

.wrapper,
.header,
.header h2,
.header ul,
.header ul li {
  margin: 0;
  display: flex;
  text-align: center;
}

.wrapper {
  font-family: $allFont;
  flex-direction: column;
  .header {
    width: 100%;
    text-transform: uppercase;
    vertical-align: middle;
    background: $headColor;
    color: $navColor;
    ul {
      li {
        list-style: none;
        a {
          color: $navColor;
          text-decoration: none;
          &:hover {
            color: $hovColor;
          }
        }
      }
    }
  }
  .body {
    padding: 2rem 0 4rem 0;
    width: 100%;
    background: $backColor;
    justify-content: center;
    flex-direction: column;
    .img {
      margin: 1rem 0 1rem 0;
      padding: 0;
      img {
        max-height: 10rem;
      }
    }

    h1 {
      margin: 0;
      padding: 0;
      font-weight: 600;
      text-transform: uppercase;
      color: $navColor;
    }

    .breaker {
      margin: 1rem 0 1rem 0;
      display: flex;
      flex-direction: row;
      height: 2rem;
      justify-content: center;
      align-items: center;
      hr {
        margin: 0.5rem;
        background-color: $navColor;
        border-width: 0;
        border-radius: 0.5rem;
        width: 10%;
        height: 0.2rem;
      }
      span {
        line-height: 3rem;
        vertical-align: middle;
        font-size: 2.5rem;
        color: $navColor;
      }
    }

    p {
      padding: 0;
      color: $navColor;
    }
  }
  .footer {
    height: 3rem;
    line-height: 3rem;
    vertical-align: middle;
    background: $navColor;
    color: $footColor;
  }
}

@media only screen and (max-width: 600px) {
  .wrapper {
    .header {
      line-height: 3rem;
      flex-direction: column;
      justify-content: center;
      h2 {
        width: 100%;
        justify-content: center;
      }
      ul {
        padding: 0;
        flex-direction: column;
        align-items: center;
      }
    }
  }
}

@media only screen and (min-width: 601px) {
  .wrapper {
    .header {
      line-height: 5rem;
      h2,
      ul {
        flex: 0 1 50%;
      }

      h2 {
        padding-left: 4rem;
      }

      ul {
        padding-right: 4rem;
        justify-content: flex-end;
        li {
          padding: 0 20px 0 20px;
        }
      }
    }
  }
}
